
{{title model.name}}

<div class="has-bg tc mt4 center measure mb6">

  <h1 class="upcase artist-name" data-artist-id="{{model.id}}">{{model.name}}</h1>
  
  {{#if model.photo}}

    <img class="bordered db mr3 mb3 center" src="/assets/artists/{{model.photo}}" alt="{{model.name}}"/>
  {{/if}}

  <div class="mt3 mb4 center tl lh-copy desc transparent-text">
    {{md-text text= model.description typographer=true}}
  </div>

  {{#if model.quote}}
    <div  class="pullquote lh-title tl">{{model.quote}}</div>
  {{/if}}

  <div class="pt3 pb4">
    {{#each model.shows as |show|}}
      {{show-description show=show classNames="for-artist"}}
    {{/each}}
  </div>
  
  {{#if model.obeyUrl}}
    <div class="pb4">
      <a href="{{model.obeyUrl}}" target="_blank" rel="noopener noreferrer">More about {{model.name}} on Obey Convention site</a>
    </div>
  {{/if}}

</div>

